
form{
    text-align: center;
    background: gray;
    width: 30%;
    margin: 0 auto;
}
body{
    background: rgba(0,0,0,0.2);
}
h1{
    text-align: center
}
form input{
    margin: 4px;
}
#menu{
    list-style: none;
    text-align: center;
}
#principal{
    width: 90%;
    margin: 0 auto;
}
#menu li{
    padding: 10px;
    display: inline-block;
    padding: 5px;
}
#menu li a{
    text-decoration: none;
    background: #5bc0de;
    padding: 5px;
}
#menu li a:hover{
    background: white;
}